body{
    background-image: none;
    background-color: #ecebf1;
}

.detail{
    width: 80%;
    margin: 0 auto;
    background-color: #eee;
    border: 0;
}
h2{
    font-family: Verdana;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 400;
    margin-left: 10px;
}

.xian{
    padding: 10px 0;
    border-top: #ff7d00 solid 5px;
    border-bottom: #ff7d00 dashed 1px;
}

i{
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 10px;
    color: #FF7D00;
}

p{
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 2em;
}